/*Estilizado enlaces*/
a:hover{
    color:blueviolet;
}

#boton_arriba{
    border-radius: 5px;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1;
    padding: 10px;
    background-color: red;
    color:white;
}

/*Cabecera de página*/
header{
    display: flex;
    justify-content: center;
}

header img{
    width: 150px;
    height: 85px;
    margin: 5px;
}

/*Para el menu principal*/
nav{
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    padding: 10px;
    text-align: center;
    background-color:beige;
    margin: 5px;
}

#nav_yacimiento{
    background-color:khaki;
    font-size: 10px;
}

#nav_tipo_yacimiento{
    background-color: aquamarine;
}

nav a{
    text-decoration: 5px;
    color:brown;
    font-weight: 700;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/*Para el contenido de la pagina*/
body{
    background-color: aliceblue;
    font-family: Arial, Helvetica, sans-serif;
    padding:10px;
    margin:5px;
}

li{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

/*Para los formularios*/
form{
    font-weight: bold;
}

legend{
    font-size: 18px;
}

/*Para el footer de la pagina*/
footer{
    font-family: 'Times New Roman', Times, serif;
    background-color: gainsboro;
    padding: 10px;
    margin: 5px;
}

/*Para estilizado imagenes de yacimientos*/
.img_yacimiento{
    margin: 5px;
    padding: 5px;
    border: 2px solid lightgrey;
}

/*Para las tablas de las páginas (ej. lista yacimientos)*/
table{
    border: 1px solid rgb(135, 135, 135);
    border-collapse: collapse;
}

/*Especificaciones de la tabla de yacimientos*/
.yacimientos{
    background-color: rgb(189, 235, 255);
    text-align: center;
    width: 90%;
}

th{
    padding: 10px;
}

td{
    padding: 5px;
}

td:nth-child(1){
    font-weight: bold;
}

tr:nth-child(odd){
    background-color: rgb(211, 243, 243);
}


/*RESPONSIVE WEB DESIGN*/
/*360x800*/
@media screen and (max-width:360px) {
    /*Adaptacion tamaño fuentes titulos,parrafos,listas*/
    h1{
        font-size: 2.5rem;
    }

    h2{
        font-size: 2rem;
    }
   
    h3{
        font-size: 1.8rem;
    }

    p,li{
        font-size: 1.5rem;
    }

    /*Adaptacion de estructura general*/
    body{
        max-width: 360px;
        margin-inline: auto;
    }

    header{
        flex-direction: column;
    }

    nav{
        flex-direction: column;
        font-size: 1.2rem;
    }

    footer{
        margin-inline: auto;
        font-size: 2rem;
    }

    img{
        width: 90%;
    }

    /*Adaptaciones especificas*/
    .yacimientos{
        margin-inline: auto;
        font-size: 0.75rem;
    }

    /*Adaptaciones de formulario*/
    form{
        width: 300px;
    }

    textarea{
        width: 250px;
    }
}

/*1024x720*/
@media screen and (min-width:361px) and (max-width:1024px) {
    /*Adaptacion tamaño fuentes titulos,parrafos,listas*/
    h1{
        font-size: 2rem;
    }

    h2{
        font-size: 1.8rem;
    }
   
    h3{
        font-size: 1.5rem;
    }

    p,li{
        font-size: 1.2rem;
    }

    /*Adaptacion de estructura general*/
    body{
        max-width: 800px;
        margin-inline: auto;
        
    }

    header{
        font-size: 0.8rem;
    }

    nav{
        flex-wrap: wrap;
    }

    footer{
        margin-inline: auto;
    }

    /*Adaptaciones especificas*/
    .yacimientos{
        max-width: 800px;
        margin-inline: auto;
        font-size: 1.2rem;
    }
}   

/*1920x1080*/
@media screen and (min-width:1024px){
    /*Adaptacion de estructura general*/
    body{
        max-width: 1024px;
        margin-inline: auto;
    }

    footer{
        max-width: 800px;
        margin-inline: auto;
    }

    /*Adaptaciones especificas*/
    .yacimientos{
        margin-inline: auto;
        font-size: 1.2rem;
    }
}